@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.auth-label {
    color: #474749;
    font-size: 20px;
}

.contact-form {
    border-bottom: solid #C0C0CA 2px !important;
    background-color: transparent !important;
    height: 40px;
    font-size: 15px !important;
    transition: 0.3s;
}

.contact-form:focus {
    outline: none !important;
    /* box-shadow: 0 0 0 #654D39 !important; */
    border-bottom: solid #654D39 2px !important;
}