.btn-cart {
    background-color: #40362E !important;
    border: transparent !important;
    border-radius: 45px !important;
    font-size: 16px !important;
    height: 53px !important;
    width: 180px !important;
}