body {
    background-color: #FFF9EF !important;
}

.img-navbar {
    margin-top: -70px;
    border-radius: 50px 50px 50px 300px;
}

.custom-toggle {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #000;
}

.custom-toggle:hover,
.custom-toggle:active {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
}

.custom-toggle:focus {
    box-shadow: none !important;
}

/* Gaya khusus untuk Dropdown.Item */
.custom-dropdown .dropdown-item {
    background-color: transparent !important;
    color: #000 !important;
}

.text-dropdown {
    font-size: 15px !important;
}

.box-right {
    border-right: solid 1px #CFD3D6;
}

.card-search {
    border-radius: 50px !important;
}

.page {
    margin-bottom: 100px;
}

.card-about {
    background-color: rgba(145, 134, 117, 0.08) !important;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) !important;
    width: 200px !important;
    height: 245px !important;
}

.exp-section {
    background-image: url('/images/bglanding.jpg');
    margin-top: 100px;
}

.exp-section-2 {
    background-image: url('/images/bglanding2.jpg');
    background-repeat: no-repeat;
    height: 308.05px;
    color: white;
}

.exp-img {
    width: 30%;
    border-radius: 50px !important;
}

.exp-card {
    width: 550px !important;
    height: 350px !important;
    border-radius: 0px 50px 50px 0px !important;
}

.text-card {
    font-size: 14px;
    text-align: justify;
}

.text-detail {
    font-size: 12px;
}

.text-justify {
    text-align: justify;
}